body{
  font-family: "Roboto", sans-serif;
  margin: 0px;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
}

img {
  display: block;
  width: 100%;
}

#navigation {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: #fff;
}
.home {
  justify-content: flex-end;
  float: left;
  font-size: 30px;
}
.signup {
  background: transparent;
  border: 1px #0080ff solid;
  display: block;
}

.login {
  background: #0080ff;
  border: 1px royalblue solid;
  margin-right: 10px;
  display: block;
  position: relative;
  width: auto;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 25px;
  overflow: hidden;
  background-color: #111;
  font-family: 'source sans pro', sans-serif;
  box-shadow: 0 5px 15px rgba(238, 83, 83, 0.978);
}

li {
  float: right;
  padding: 10px;
  font-size: 25px;
}

li a {
  position: relative;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  
}


i{
    color: white;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    background-image: linear-gradient(
    180deg,
   #FFFFFF 0%,
   #6284FF 50%,
   #FF0000 100%
    );
}

.welcome h1 {
  margin-top: -50px;
}

.welcome p {
  font-size: 42px;
  font-weight: 200;
  font-style: italic;
  color: #000;
  margin-top: -50px;
}

h1{
    color: white;
    font-size: 70px;
}


.sample-section {
  text-align: center;
  padding: 10rem 2rem;
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.header {
  max-width: 920px;
  margin: -40px auto 60px auto;
  border-bottom: 0.3rem solid #fff;
  font-size: 3.5rem;
  color: #fff;
}

 .simp {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem; 
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
 margin-bottom: 4rem;
}

.simp1 {
  color: #fff;
  transition: color 0.3s ease-out;
}

.sample-title:hover .simp1 {
  color: #FF0000;
}

.sample-img {
  width: 100%;
  
}

.sample-title {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  background: #000;
  border-radius: 11px;
  margin-top: -10px;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 20px 20px;
  font-size: 30px;
  background: grey;
}

.btn > i {
  margin-left: 11px;
}

.btn:hover {
  background: #ff00fb;
}

.btn:hover > i {
  transform: translateX(4px);
}

.support-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background-color: #FFFFFF;
  background-image: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #6284FF 50%,
    #FF0000 100%
  );
}

.sup-header > h2 {
  font-size: 6rem;
}

.sup-header > p {
  font-style: italic;
  font-size: 2rem;
  margin-top: -50px;
}

.sup-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 1.7rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  margin-left: 50px;
}

.contact-details:hover {
  transform: translateY(8px);
}

footer {
  font-size: 22px;
  color: white;
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: #000;
}

footer > p {
  margin: 2rem;
}

footer a {  
  color: white;
  text-decoration: none;
}

